In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
rights = pd.read_excel('All_data_FIW_2013-2022.xlsx', sheet_name='FIW13-22', skiprows=1)

In [13]:
rights.head()

,Country/Territory,Region,C/T,Edition,Status,PR rating,CL rating,A1,A2,A3,...,F3,F4,F,G1,G2,G3,G4,G,CL,Total
0,Abkhazia,Eurasia,t,2022,PF,5,5,2,2,1,...,1,1,4,1,1,2,1,5,23,40
1,Afghanistan,Asia,c,2022,NF,7,6,0,0,0,...,0,0,0,0,1,0,1,2,9,10
2,Albania,Europe,c,2022,PF,3,3,3,3,3,...,2,3,9,3,2,2,2,9,39,67
3,Algeria,Africa,c,2022,NF,6,5,1,1,1,...,2,2,6,2,2,2,1,7,22,32
4,Andorra,Europe,c,2022,F,1,1,4,4,4,...,4,3,15,4,4,3,4,15,55,93

In [18]:
rights.iloc

Country/Territory    Abkhazia
Region                Eurasia
C/T                         t
Edition                  2022
Status                     PF
PR rating                   5
CL rating                   5
A1                          2
A2                          2
A3                          1
A                           5
B1                          2
B2                          3
B3                          2
B4                          1
B                           8
C1                          1
C2                          1
C3                          2
C                           4
Add Q                       0
Add A                     NaN
PR                         17
D1                          2
D2                          2
D3                          1
D4                          3
D                           8
E1                          3
E2                          2
E3                          1
E                           6
F1                          1
F2                          1
F3                          1
F4                          1
F                           4
G1                          1
G2                          1
G3                          2
G4                          1
G                           5
CL                         23
Total                      40
Name: 0, dtype: object

### Question 1A: